<h2>Treasure hunt</h2>
<p>Welcome to the treasure hunt home page please enter your name to begin.</p>
<form action="/set-name" method="POST">
	<input type="hidden" name="contrib" value="{{contrib}}"/>
	<input type="text" name="name" placeholder="Name (first only)"/>
	<button type="submit">Login</button>
</form>
